<%= content_for :title, 'Home Page' %>
<h1>Aura Creative</h1>
<h3>COWORKING &AMP; EVENT SPACE</h3>

<%= image_tag 'elephant.jpg', alt: 'This is a picture of the Elephant', title: 'This is an elephant title', class: 'img-thumbnail img-circle' %><br><br>

<% if user_signed_in? %>
	<% if current_user.profile %>
		<p>Welcome <%= current_user.profile.name %></p>
	<% else %>
		<%= link_to "Create your profile", new_profile_path, class: 'btn btn-success' %>
	<% end %>
<% end %>